.nemo-window {
    .places-treeview {
        -NemoPlacesTreeView-disk-full-bg-color: lighten($_sidebar_color, 15%);
        -NemoPlacesTreeView-disk-full-fg-color: $yellow;
        -GtkTreeView-vertical-separator: 7; 
        .view.cell,
        iconview.cell {
            &:hover, &:selected {
                background-color: lighten($_sidebar_color, 7%);
            }
        }
    }

    .sidebar {
        color: $fg_color;
        background-color: $_sidebar_color; 
        .view, .iconview, row {
            background-color: transparent;
        }
    }

    .nemo-window-pane {
        widget.entry {
            background-clip: padding-box;
            min-height: 28px;
            padding: 5px;
            color: $fg_color;
            border: 1px solid $selected_bg_color;
            border-radius: 3px;
            
            &:selected {
                background-color: $selected_bg_color;
                color: $selected_fg_color;
            }
        }
    }

    toolbar.primary-toolbar {
        margin-bottom: -1px;
        background: $headerbar_color;
        button {
            @include button(normal-header);
            min-height: 24px;
            padding: 3px;
            &:hover { @include button(hover-header, $selected_bg_color, $selected_fg_color); }

            &:selected,
            &:active,
            &:checked { 
                @include button(active-header, $selected_bg_color, $selected_fg_color); 
                &:backdrop {
                    @include button(backdrop-header, $backdrop_selected_bg_color, $backdrop_selected_fg_color);
                }
            }

            &:backdrop,
            &:disabled,
            &:backdrop:disabled {
                @include button(backdrop-header, $main_dark_color, transparentize($headerbar_fg_color, 0.8));
            }
        }
    }

    .nemo-inactive-pane .view:not(:selected),
    .nemo-inactive-pane iconview {
        background-color: darken($base_color, 5%); 
    }
}